{% extends "base2.html" %} {% block body %}

<div class="container center">
    <div class="blog-container">
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h1>
                        <b>{{post.subject}}</b>
                    </h1>
                </div>
            </div>
            <div class="col-md-6  edit-button-margin text-right">
                <div class="dropdown">
                    <button class="edit-button button-txt">	&#9998;</button>
                    <div class="dropdown-content">
                        <a href="/blog/deletepost/{{post.key().id()}}" style="text-decoration:none ">Delete Post</a>
                        <a href="/blog/editpost/{{post.key().id()}}" style="text-decoration:none ">Edit Post</a>
                    </div>
                </div>
            </div>
        </div>
        <div> (Posted on {{post.created.strftime("%b %d, %Y ")}} by {{post.getUName()}})
        </div>
        <hr>
        <div>
            <p>{{post.render() | safe}}</p>
        </div>
        <br>
        <hr>
        <hr>
        <div>
            <h3>
            <label for="comment">Comment:</label>
        </h3>
        </div>
        <div class="row">
            <form method="post" role="form">
                <div class="col-md-10">
                    <input type="text" class="input-comment" name="comment">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>



    </div>

</div>
{% endblock %}
