{% extends "base2.html" %} {% block body %}
<br>
<br>
<br>
<div class="container center">
    <div class="blog-container">
        <h2 class="blog-form-signin">Editing Post</h2>
        <form method="post" class="blog-form-signin">
            {% if not comment %}
            <label>
                <div>Title</div>
                <input type="text" name="subject" value="{{subject}}" class="input-blog">
            </label>
            <br>
            <br> {% endif %}
            <label>
                {% if not comment %}
                <div>Edit your Content</div>
                <textarea name="content" class="input-blog text-input-blog">{{content}}</textarea>
                {% else %}
                <div>Edit your comment</div>
                <textarea name="comment" class="input-blog text-input-blog">{{comment}}</textarea>
                {% endif %}
            </label>

            <div class="error">{{error}}</div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-6 text-left">
                    <input type=reset class="dropbtn button-txt blog-button" value="cancel" onclick="history.go(-1);" />
                </div>
                <div class="col-md-6 text-right">
                    <input type="submit" class="dropbtn button-txt" />
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
