{% extends "base.html" %} {% block header %}
<button class="dropbtn button-txt">Welcome</button> </a>{% endblock %} {% block content %}

<br>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-4 login-bar-style login-bar text-center">
        <div>
            <a href="/signup"> <button class="dropbtn button-txt logi-button"> SignUp </button></a>
        </div>
    </div>

    <div class="col-md-4 login-bar-style login-bar text-center">
        <div>
            <a href="/login"> <button class="dropbtn button-txt logi-button">LogIn</button></a>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>


{% endblock %}
