{% extends "base.html" %} {% block header %}
<a href="/signup"><button class="dropbtn button-txt">SignUp</button> </a>{% endblock %} {% block content %}

<form method="post">
    <br>
    <br>
    <br>
    <br>
    <br> {% if error %}
    <div>
        <h4 class="text-center" style="color:red"> {{error}} </h4>
    </div>
    {% endif %}

    <h4>
        <div class="form-signin signup-wrapper">
            <div>
                <h2>Log In</h2>
            </div>
            <div>
                <input type="text" name="username" value="{{username}}" placeholder="Username">
            </div>
            <div style="color:red">{{error_username}}</div>
            <br>
            <div>
                <input type="password" name="password" value="{{password}}" placeholder="Password">
                <div style="color:red">{{error_password}}</div>
            </div>
            <br>
            <br>
            <div class="signup-button signup-wrapper">
                <input type="submit" class="dropbtn button-txt">
            </div>
        </div>
    </h4>
</form>

{% endblock %}
